@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Pacifico&family=Poppins:wght@300;400;500;600&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}
.header h1{
  font-size: 2.5em;
}
.search {
  display: flex;
  align-items: center;
  background-color: rgb(255, 208, 208);
  border-radius: 20px;
  padding: 4px 6px;
  padding-left: 10px;
  margin-bottom: 1.5em;
}
.search input {
  font-size: 1rem;
  padding: 6px 10px;
  border-radius: 20px;
  border: none;
  width: 100%;
}
.search input:focus {
  outline: none;
}
.search-icon {
  padding: 2px 6px;
  color: white;
  font-size: large;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Pacifico", cursive;
}

.toggleBtn {
  font-size: 1.1rem;
  border-radius: 2px;
  border: none;
  padding: 4px 7px;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid #ffe8e8;
  background-color: white;
  font-family: "Pacifico", cursive;
}
.toggleBtn:hover {
  background-color: rgb(255, 208, 208);
  cursor: pointer;
  color: rgb(44, 0, 0);
}

.dark-mode {
  background-color: rgb(72, 72, 72);
}
.default-mode {
  background-color: #fffafa;

}
.dark-mode h1 {
  color: white;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note {
  background-color: rgb(255, 242, 242);
  border-radius: 18px;
  border: 2px solid rgb(255, 208, 208);
  padding: 5px 10px;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  font-size: 1rem;
  padding-bottom: 7px;
  font-family: "Poppins", sans-serif;
}

.note span {
  padding-bottom: 0.5rem;
}

.note small {
  color: rgb(108, 108, 108);
}
.note.new {
  background-color: #c2fff9;
}
textarea {
  border: none;
  resize: none;
  background-color: #c2fff9;
  font-size: 1rem;
}

textarea:focus {
  outline: none;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delete-icon {
  cursor: pointer;
}
.delete-icon:hover {
  color: rgb(202, 15, 15);
}
.edit-icon {
  padding-left: 5px;
  padding-bottom: 1px;
  cursor: pointer;
}
.edit-icon:hover {
  color: green;
}
.save {
  background-color: #0aa596;
  border: 2px solid white;
  border-radius: 15px;
  color: white;
  padding: 5px 12px;
}

.save:hover {
  background-color: #238f84;
  color: rgb(255, 242, 242);
  cursor: pointer;
}